body {
	background: #FFFFFF;
	margin: 0;
	font-family: Arial;
	overflow-y: scroll;
}

button {
	display: inline-block;
	vertical-align: middle;
	padding: 8px;
	border: 1px solid #3377EE;
	background: #5599FF;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin: 5px;
}
button:hover {
	background: #4488EE !important;
}
button:focus {
	outline: 0px none transparent !important;
	background: #4488EE !important;
	box-shadow: 0 0 10px -4px #5599FF !important;
}

textarea {
	resize: none;
	border: 1px solid #DDDDDD;
	padding: 10px;
	background: #FCFCFC;
	color: #333333;
}
textarea:hover {
	background: #FCFCFF !important;
	border: 1px solid #AADDFF !important;
}
textarea:focus {
	outline: 0px none transparent !important;
	background: #FCFCFF !important;
	border: 1px solid #AADDFF !important;
	box-shadow: 0 0 10px -4px #5599FF !important;
}

.clear {
	clear: both;
}

.logo-text {
	width: 270px;
	font-weight: bold;
	color: #191919;
	text-shadow: 0 0 7px #CCCCCC;
	text-align: right;
	cursor: default;
	float: left;
}
.logo-text .logo-main-text {
	font-size: 24px;
}
.logo-text .logo-sub-text {
	font-size: 10px;
	text-align: right;
}
.logo-text .spe-text {
	color: #EE5533;
	text-shadow: 0 0 4px #FFCCAA;
}

.about-container {
	float: right;
	position: relative;
}
.about-container .about-link {
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}
.about-container .about-info {
	display: none;
	position: absolute;
	right: 0;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	background: #000000;
	background: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 14px;
	line-height: 140%;
	text-align: justify;
	cursor: default;
}
.about-container:hover .about-info {
	display: block;
}

.outer-container {
	width: 90%;
	min-width: 320px;
	margin: 0 auto;
}
.header-container {
	width: 90%;
	min-width: 320px;
	padding: 10px 0 10px 0;
}
.main-container {
	width: 90%;
	min-width: 320px;
	text-align: center;
}

#text-data {
	width: 100%;
	min-height: 200px;
	margin: 20px 0;
	overflow: hidden;
}
